/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 Mar 2024, 4:32:37 pm
    Author     : user
*/

   
            
            .p{
                text-align:center;
            }
                      
           
            body{
                height:100vh;
            }